# -----------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------------
logs
nbproject
output
# Next line commented out, because test/webapp-virtual-library and
# test/webapp-virtual-webapp use it:
# target
work
build.properties
mvn.properties
.ant-targets-build.xml
.checkstyle
.classpath
.fbprefs
.idea
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.asc
*.jj
*.tmp
maven-resolver-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
webapps/docs/jdbc-pool.xml
tomcat-build-libs/cglib-3.3.0/cglib-nodep-3.3.0.jar
tomcat-build-libs/commons-daemon-1.2.4/commons-daemon-1.2.4-javadoc.jar
tomcat-build-libs/commons-daemon-1.2.4/commons-daemon-1.2.4-sources.jar
tomcat-build-libs/commons-daemon-1.2.4/commons-daemon-1.2.4-test-sources.jar
tomcat-build-libs/commons-daemon-1.2.4/commons-daemon-1.2.4-tests.jar
tomcat-build-libs/commons-daemon-1.2.4/commons-daemon-1.2.4.jar
tomcat-build-libs/commons-daemon-1.2.4/LICENSE.txt
tomcat-build-libs/commons-daemon-1.2.4/NOTICE.txt
tomcat-build-libs/commons-daemon-1.2.4/RELEASE-NOTES.txt
tomcat-build-libs/commons-daemon-1.2.4/apidocs/allclasses-frame.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/allclasses-noframe.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/constant-values.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/deprecated-list.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/help-doc.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/index-all.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/index.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/overview-frame.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/overview-summary.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/overview-tree.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/package-list
tomcat-build-libs/commons-daemon-1.2.4/apidocs/script.js
tomcat-build-libs/commons-daemon-1.2.4/apidocs/serialized-form.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/stylesheet.css
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/Daemon.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonContext.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonController.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonInitException.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonListener.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonPermission.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/DaemonUserSignal.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/package-frame.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/package-summary.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/package-tree.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/package-use.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/Daemon.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonContext.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonController.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonInitException.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonListener.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonPermission.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/class-use/DaemonUserSignal.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/DaemonConfiguration.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/DaemonLoader.Context.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/DaemonLoader.Controller.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/DaemonLoader.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/DaemonWrapper.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/package-frame.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/package-summary.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/package-tree.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/package-use.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/class-use/DaemonConfiguration.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/class-use/DaemonLoader.Context.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/class-use/DaemonLoader.Controller.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/class-use/DaemonLoader.html
tomcat-build-libs/commons-daemon-1.2.4/apidocs/org/apache/commons/daemon/support/class-use/DaemonWrapper.html
tomcat-build-libs/easymock-3.6/easymock-3.6.jar
tomcat-build-libs/ecj-4.6.3/ecj-4.6.3.jar
tomcat-build-libs/hamcrest-2.2/hamcrest-2.2.jar
tomcat-build-libs/jaxrpc-1.1-rc4/geronimo-spec-jaxrpc-1.1-rc4.jar
tomcat-build-libs/junit-4.13/junit-4.13.jar
tomcat-build-libs/objenesis-2.6/objenesis-2.6.jar
tomcat-build-libs/wsdl4j-1.6.3/wsdl4j-1.6.3.jar
